{%extends 'award/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block content %}
    <div class="container-fluid bg-wrapper pos" style="background-image:url('static/images/bg7.jpg');height:655px;width: 100%;">
    <div class="container">
        <div style="padding-top: 10%;">
            <div class="box-breadcrumb">
                <div class="box-left">
                    <strong class="parent">
                        <a href="{% url 'project' random_post.title %}" class="text-info">Site of the Day</a>
                    </strong>
                    <span class="text-x-thin text-light">{{random_post.date|date}}</span>
                </div>
           </div>
            <div class="mx-auto d-block text-center" style="margin-top: 8%;">
                <h2 class="heading-large"><a href="{% url 'project' random_post.title %}" class="text-white"
                                             style="margin-top:-100px;">{{ random_post.title }}</a>
                </h2>
            </div>
            <div class="d-block text-center" style="margin-bottom:3%;">
                <div class="text-white">
                    by <strong><a href="" class="text-info">{{ random_post.user.username }}</a>
                </strong> FROM <strong>{{ random_post.user.profile.location}}</strong>
                </div>
            </div>
        </div>

            <div class="d-flex flex-row text-center" style="margin-left: 20%;margin-bottom: 10%;">
                    {% for rating in random_post.ratings.all %}
                    {% if forloop.counter is random_post.ratings.all.count %}
                    <div class="mr-5 ">
                        <div id="design" class="text-center pl-2 pt-4">{{ rating.design_average}} 
                        </div>
                        <span class="rates text-light pl-5">design</span>
                    </div>
                    <div class="mr-5">
                        <div id="usable" class="pl-2 pt-4">{{ rating.usability_average}} 
                        </div>
                        <span class="rates text-light">usability</span>
                    </div>
                    <div class="mr-5">
                        <div id="content" class="pl-2 pt-4">{{ rating.content_average}} 
                        </div>
                        <span class="rates text-light">content</span>
                    </div>
                    <div class="mr-5">
                        <div id="score" class="pl-2 pt-4" style="border: 3px solid rgb(23,162,184);border-radius: 50%;">{{ rating.score}} 
                        </div>
                        <span class="rates text-light">score</span>
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>
            
           <div class="box-bl">
                <a href="{{random_post.url}}" data-identifier="" data-type="submission"
                class="" target="_blank" 
                style="margin-top:-60px;"><button class="btn btn-info" style="border-radius: 20px;">Visit
                    Site</button></a>
          </div>
        
        
    </div>
    </div>
    <div class="container">
        <h2 class="" style="margin-top:2%;">Posted Sites</h2>
        {% if user.is_authenticated %}
        <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload a project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-sm btn-info" value="Save"/>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            {% if posts %}

            <div class="templates display">
                {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width:21.8rem;">
                        <div class="view overlay">
                                <a href="{% url 'project' post.title %}">
                                    <img class="card-img-top" style="height:14rem;width:21.8rem;object-fit:cover;" src="{{ post.photo.url }}"
                                     alt="{{photo.title}}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-title"><a href="{% url 'project' post.title %}">{{post.title|title}}</a></h4> 
                                <a class="btn btn-outline-info" href="{{ post.url }}"> View</a>
                            </div>
                            
                            <hr>
                            <p class="card-text "><img src="{{post.user.profile.profile_picture.url}}"
                                                       class="nav-img mr-2"
                                                       alt="">
                                By {{post.user.username|title}} <span style="float:right">{{post.date|date}}</span>


                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}