{% load crispy_forms_tags %}
<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar" style="background-color: #054146;" id="nbar">
    <div class="container">
      <div class="form-submit">
        <form class="form-inline" role="search" action="{#{% url 'search' %}#}">
          {% csrf_token %}
          <div class="md-form my-0">
            <input type="text" class="form-control" placeholder="Search" name="search">
          </div>
        </form>
      </div>

      <span>
        <a class="navbar-brand award" style="color:#ffffff;" href="{% url 'index' %}">Awardry.</a>
      </span>
      
      <span class="d-flex justify-content-between">
      {% if user.is_authenticated%}
        <li class="nav-item dropdown list-unstyled">
            <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">{{ user.username|title }} <img class="rounded-circle nav-img"
                                                                    src="{{ user.profile.profile_picture.url }}"
                                                                    alt="">
            </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item text-center" href="{% url 'profile' user.username %}">Profile</a>
                <hr>
                <a class="dropdown-item text-center" href="{% url 'edit' user.username  %}"> Edit profile</a>
                <hr>
                <a href="{% url 'logout' %}" class="text-secondary text-center dropdown-item">Log Out</a>


            </div>
        </li>
        {% else %}
        <a class="btn btn-light mx-2" href="{% url 'login' %}">LOGIN</a>
        {% endif %}
        <a class="btn btn-outline-light" href="#">SUBMIT YOUR SITE</a>
      </span>
        
    </div>
</nav>