@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

a.award {
  font-family: 'Overlock', cursive;
  font-size: 28px;
}

.nav-bg {
  background-color: #6C8EF4;
}

.form-text, .asteriskField{
  display:none;
}